/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --black: #121113;
    --beige: #FEF3F2;
    --magenta: #822165;
    --pink: #F5A3C7;
    --indigo: #343972;
    --purple: #AC9BCB;
    --teal: #124C51;
    --green: #D0E28B;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}


/* Header */

header{
    width: 100dvw;
    height: 250px;
    background-color: var(--magenta);
    text-align: center;
}


h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    line-height: 0.8em;
    font-size: 3rem;
    color: var(--pink);
    padding-top: 100px;
}

/* Nav Bar */

#nav-items a {
    color: var(--beige);
    text-decoration: none;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-items a:hover {
    color: var(--green);
}

nav {
    padding-top: 25px;
    text-align: center;
}

#current {
    color: var(--pink) !important;
}

/* Social Icons */

.fa-linkedin-in {
    color: var(--magenta);
    font-size: 20px;
    background-color: var(--pink);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-github {
    color: var(--indigo);
    font-size: 20px;
    background-color: var(--purple);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-behance {
    color: var(--teal);
    font-size: 20px;
    background-color: var(--green);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-social {
    padding-bottom: 20px;
}

/* Text Section */

article {
    background-color: var(--pink);
    color: var(--magenta);
    padding: 50px;
    text-align: center;
}

h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5rem;
}

main p {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 50px;
}

/* Image Section */

.about-img {
    width: 100dvw;
    height: 250px;
}

.about-img img {
    width: 100dvw;
    height: 250px;
    object-fit: cover;
}

/* Blog Section */

.about-blog  {
    background-color: var(--indigo);
    padding: 50px;
    text-align: center;
    background-image: url("../images/web-dev.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(52, 57, 114, 0.9);

}

#blog-btn {
    background-color: var(--purple);
    color: var(--indigo);
    font-family:"Bricolage Grotesque", sans-serif;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
}

#blog-btn:hover {
    animation: bubble 0.4s ease-out;
}

.about-blog h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    line-height: 0.8em;
    font-size: 1.2rem;
    color: var(--purple);
    padding-bottom: 20px;
}


/* Footer */

footer {
    width: 100dvw;
    height: 120px;
    display: flex;
    background-color: var(--black);
    color: var(--beige);
    justify-content: space-between;
}

footer h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    line-height: 1.8rem;
    font-size: 2rem;
    padding-top: 35px;
    padding-left: 30px;
    align-items: center;
}

footer p {
    font-family: "inter", sans-serif;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-social {
    padding-right: 20px;
}


@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* Tablet Responsiveness */

@media screen and (min-width: 768px) {

    header {
        width: 100dvw;
        height: 250px;
        background-color: var(--magenta);
        text-align: center;
    }
    
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 3rem;
        color: var(--pink);
        padding-top: 100px;
    }

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 16px;
        margin-right: 10px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        padding: 30px;
    }

    footer {
        width: 100dvw;
        height: 160px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 38px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.2rem;

    }

    #blog-btn {
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 20px;
        width: 230px;
    }

}

/* Desktop Responsiveness */

@media screen and (min-width: 992px) {
    
    header {
        width: 100dvw;
        height: 250px;
        background-color: var(--magenta);
        text-align: center;
    }
    
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 4rem;
        color: var(--pink);
        padding-top: 100px;
    }

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    nav {
        padding-top: 30px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 16px;
        margin-right: 10px;
    }

    h2 {
        font-size: 2rem;
    }

    .about-blog h3 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
        color: var(--purple);
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    footer {
        width: 100dvw;
        height: 200px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 50px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .footer-contact {
        text-align: right;
        padding-right: 20px;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    #blog-btn {
        font-size: 1.5rem;
        padding: 12px;
        border-radius: 30px;
        width: 250px;
    }

    article {
        display: flex;
        padding: 50px;
    }

    .qualifications, .experience {
        padding: 20px;
    }
    
}

/* Large Desktop Responsiveness */

@media screen and (min-width: 1280px) {
    header {
        width: 100dvw;
        height: 250px;
        background-color: var(--magenta);
        text-align: center;
    }
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 4rem;
        color: var(--pink);
        padding-top: 100px;
    }

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    nav {
        padding-top: 40px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 20px;
        margin-right: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    footer {
        width: 100dvw;
        height: 200px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 50px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-decoration: none;
    }

    .footer-social {
        text-align: right;
    }

    #blog-btn {
        font-size: 1.5rem;
        padding: 12px;
        border-radius: 30px;
        width: 250px;
    }

    article {
        display: flex;
        padding: 50px;
    }

    .qualifications, .experience {
        padding: 20px;
    }
}

@media screen and (max-width:728px) {
    .experience {
        padding-top: 30px;
    }
    
}