/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --black: #121113;
    --beige: #FEF3F2;
    --magenta: #822165;
    --pink: #F5A3C7;
    --indigo: #343972;
    --purple: #AC9BCB;
    --teal: #124C51;
    --green: #D0E28B;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

header{
    width: 100dvw;
    height: 260px;
    background-color: var(--black);
    text-align: center;
    margin-bottom:10px;
    background-image: url(../images/blog1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(18, 17, 19, 0.9);

}

#main-txt {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    line-height: 0.8em;
    font-size: 3rem;
    color: var(--beige);
    padding-top: 100px;
}

#blog-info p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    color: var(--beige);
    padding-top: 20px;
}

/* Nav Bar */

#nav-items a {
    color: var(--beige);
    text-decoration: none;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-items a:hover {
    color: var(--purple)
}

nav {
    padding-top: 25px;
    text-align: center;
}

#current {
    color: var(--green) !important;
}

/* Social Icons */

.fa-linkedin-in {
    color: var(--magenta);
    font-size: 20px;
    background-color: var(--pink);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-github {
    color: var(--indigo);
    font-size: 20px;
    background-color: var(--purple);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-behance {
    color: var(--teal);
    font-size: 20px;
    background-color: var(--green);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-social {
    padding-bottom: 20px;
}

/* Article */

main {
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    padding: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

h4 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
}

.blog-img img {
    width: 100dvw;
    height: 200px;
    object-fit: cover;
}

/* Back Button */


.back-btn {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    background-color: var(--teal);
    color:var(--green);
    width: 220px;
    text-align: center;
    margin: 20px;
}

.back-btn:hover {
    animation: bubble 0.4s ease-out;
}

@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


/* Footer */

footer {
    width: 100dvw;
    height: 120px;
    display: flex;
    background-color: var(--black);
    color: var(--beige);
    justify-content: space-between;
}

footer h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    line-height: 1.8rem;
    font-size: 2rem;
    padding-top: 35px;
    padding-left: 30px;
    align-items: center;
}

footer p {
   font-family: "Inter", sans-serif;
   text-align: right;
   display: flex;
   flex-direction: column;
   padding-right: 30px;
   padding-top: 20px;
   text-decoration: none;
}

.footer-social {
    padding-top: 10px;
    padding-left: 15px;
}

/* Tablet Responsiveness */

@media screen and (min-width: 768px) {

    header {
        width: 100dvw;
        height: 250px;
        background-color: var(--black);
        text-align: center;
    }

    main {
        margin-bottom: 20px;
    }
    
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 3rem;
        color: var(--beige);
        padding-top: 100px;
    }

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 16px;
        margin-right: 10px;
    }

    p {
        font-size: 1rem;
    }

    .blog-post {
        width: 100dvw;
        text-align: center;
        border-radius: 10px;
        margin: 20px 20px 0px 20px;
    }

    footer {
        width: 100dvw;
        height: 160px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 38px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.2rem;

    }

    .footer-social {
        padding-top: 20px;
        padding-right: 28px;
    }

    #blog-btn {
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 20px;
        width: 230px;
    }

}

/* Desktop Responsiveness */

@media screen and (min-width: 992px) {
    
    header {
        width: 100dvw;
        height: 300px;
        background-color: var(--black);
        text-align: center;
    }
    
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 4rem;
        color: var(--beige);
        padding-top: 100px;
    }

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    nav {
        padding-top: 30px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 16px;
        margin-right: 10px;
    }

    h2 {
        font-size: 2rem;
    }

    .blog-post {
        width: 35%;
        text-align: center;
        border-radius: 10px;
        margin: 20px 20px 0px 20px;
    }

    main {
        margin-bottom: 30px;
    }

    #main-txt {
        padding:30px;
    }
    

    footer {
        width: 100dvw;
        height: 200px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 50px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-top: 50px;
        padding-right: 30px;

    }

    .footer-social {
        padding-top: 20px;
        padding-right: 28px;
    }
}

/* Large Desktop Responsiveness */

@media screen and (min-width: 1280px) {
    header {
        width: 100dvw;
        height: 300px;
        background-color: var(--black);
        text-align: center;
    }
    
    h1 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
        line-height: 0.8em;
        font-size: 4rem;
        color: var(--beige);
        padding-top: 100px;
    }

    #main-txt {
        padding: 40px;
    }
    

    .fa-brands {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }

    nav {
        padding-top: 40px;
    }

    #nav-items a {
        color: var(--beige);
        text-decoration: none;
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 20px;
        margin-right: 20px;
    }

    .blog-post {
        width: 40%;
        text-align: center;
        border-radius: 10px;
        margin: 20px 20px 0px 20px;
    }

    main {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 2rem;
    }


    footer {
        width: 100dvw;
        height: 200px;
        display: flex;
        background-color: var(--black);
        color: var(--beige);
        justify-content: space-between;
    }

    footer h3 {
        padding-top: 50px;
        font-size: 3.5rem;
        line-height: 3rem;
    }

    footer p {
        padding-top: 30px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-top: 40px;
        padding-right: 40px;

    }

    .footer-social {
        padding-top: 20px;
        padding-left: 20px;
    }

}

/* Hover effect for mobile */
@media (hover: none){
    

}